html, body {
    height: 100%;
}

#main-content {
  width: 100%;
  height: 100%;
}

.panes-container {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.left-pane {
    width: 18%;
}

.panes-separator {
    width: 5px;
    position: relative;
    cursor: col-resize;
    background-color: #eee;
}

.right-pane {
    flex: auto;
}

.panes-container,
.panes-separator,
.left-pane,
.right-pane {
    margin: 0;
    padding: 0;
    height: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
