@import './variables.less';

.panes-separator {
    width: 5px;
    position: relative;
    cursor: ew-resize;
    background-color: @tab-background-color;
    border-right: 1px solid @tab-bar-background-color;
}
